@import "variables"

.archive
	width: contentWidth
	padding: 3rem
	display: block
	font-size: 2rem

.archive__expendable
	height: 1.2em
	overflow-y: hidden
	cursor: pointer

.archive__expendable_expanded
	height: auto
