@import "variables"
@import "headers"
@import "underline"
@import "header"
@import "footer"
@import "article"

@font-face
	font-family: "Noto Sans"
	src: url("fonts/Noto_Sans/NotoSans-Regular.ttf")
	font-weight: normal

@font-face
	font-family: "Noto Sans"
	src: url("fonts/Noto_Sans/NotoSans-Italic.ttf")
	font-style: italic

@font-face
	font-family: "Noto Serif"
	src: url("fonts/Noto_Serif/NotoSerif-Regular.ttf")
	font-style: normal

body,
html
	padding: 0
	margin: 0
	background-color: backgroundColor

body
	font-family: "Noto Sans"
	color: textColor
	display: flex
	flex-direction: column

main
	width: 100%
	padding-bottom: 4rem
	display: flex
	flex-grow: 1
	flex-direction: row
	justify-content: center
	flex-wrap: wrap


a
	font-style: italic
	text-decoration: none
	color: currentColor
	transition: color 0.2s ease-out

a:visited
	color: currentColor

a:hover
	text-decoration: underline
	link-underline(backgroundColor, mainColor, mainColor)

article:hover a
	color: mainColor

article:hover h1 a
	color: currentColor

article h1 a:hover
	link-underline(backgroundColor, currentColor, currentColor)

//Center articles even on huge screen
@media screen and (min-width: 100 rem)
	article
		margin-left: 20rem
		margin-right: 20rem
